body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    background-color: rgb(58, 58, 55);
    border-radius: 10px;
    max-width: 300px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 10px;
    background-color: rgb(43, 40, 40);
    text-align: left;
    border: none;
    font-size: 1rem;
    color: white;

}
#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 2px;
    padding: 5px;

}
button{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 1em;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border: none;
    background-color: rgb(1, 1, 1);
    color: white;
    text-align: center;

}
button:hover{
    background-color:rgb(178, 170, 170) ;
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(225, 166, 57);
}